.comp_pokemon-from-container {
  .comp_pokemon-from-label--color {
    color: white;
  }
  .button-view {
    width: 100%;
    margin-top: 1em;
    padding: 0.5em 0;
    background-color:#f1cd38;
    border: none;
    border-radius: 0.5em;
  }
  .comp__pokemon-form-input{
    border: none;
    border-radius: 0.5em;
    height: 1.5em;
    padding-left:1em ;
  }
}
