<form
  class="comp_pokemon-from-container"
  [formGroup]="pokemonForm"
  (ngSubmit)="onFormSubmit(pokemonForm.value)"
>
  <label class="comp_pokemon-from-label--color" for="name">
    <p>
      Name:
    </p>
    <input class="comp__pokemon-form-input" type="text" id="name" formControlName="name" />
  </label>
  <label class="comp_pokemon-from-label--color" for="image">
    <p>
      Image:
    </p>
    <input class="comp__pokemon-form-input" type="text" id="image" formControlName="image" />
  </label>
  <label class="comp_pokemon-from-label--color" for="weight">
    <p>
      Weight:
    </p>
    <input class="comp__pokemon-form-input" type="number" id="weight" formControlName="weight" />
  </label>
  <label class="comp_pokemon-from-label--color" for="id">
    <p>
      Number:
    </p>
    <input class="comp__pokemon-form-input" type="number" id="id" formControlName="id" />
  </label>
  <label class="comp_pokemon-from-label--color" for="type">
    <p>
      Type:
    </p>
    <input class="comp__pokemon-form-input" type="text" id="type" formControlName="type" />
  </label>
  <label class="comp_pokemon-from-label--color" for="moves">
    <p>
      skill:
    </p>
    <input
      class="comp__pokemon-form-input"
      type="text"
      id="moves"
      formControlName="moves"
      [(ngModel)]="moves"
    />
  </label>
  <div>
    <select class="comp__pokemon-form-size" (change)="addMove($event.target.options.selectedIndex)">
      <option *ngFor="let move of allMoves" value="">{{ move }}</option>
    </select>
  </div>
  <div>
    <button class="button-view" type="submit">View</button>
  </div>
</form>
