<div class="comp__pokemon-container">
  <figure>
    <img [src]="pokemon.image" loading="lazy" alt="imagen de {{ pokemon.name }}" />
  </figure>
  <div>
    <h4>{{ pokemon.name | uppercase }}</h4>
    <a href="pokemon-update/{{pokemon.id}}">Edit</a>
  </div>
  <span style="display: block; font-weight: bolder;">
    {{pokemonNumber}}: {{pokemon.id}}
  </span>
  <span style="display: block; font-weight: bolder;">
    {{pokemonWeigth}}: {{pokemon.weight}}
  </span>
  <span style="display: block; font-weight: bolder;">
    {{pokemonType}}: {{pokemon.type}}
  </span>
  <span style="display: block; font-weight: bolder;">
    {{pokemonSkills}}: 
      <div *ngFor="let skill of pokemon.moves | slice:0:5">
        <span style="font-weight: 300;">
            {{skill}}
        </span> 
      </div>
      <span  *ngIf="pokemon.moves.length > 5">...</span>
  </span>
</div>
