/* You can add global styles to this file, and also import other style files */

/*COLORS*/

$color-yellow:  #f1cd38;
$yellow-shadow:rgba(112, 108, 22, 0.94);
$black: black;
$white:white;
$light-yellow:rgb(230, 216, 23);